@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li{
  list-style: none;
}

p{
    font-family: 'Poppins', sans-serif;
}
ul {
    padding: 0;
    list-style: none;
    list-style-type: none;
    margin: 0;
}


.search_wrap {
    width: 95%;
    position: relative;

}

.search_wrap input {
    border-radius: 10px;
    background: #ea929e;
    color: rgb(26, 14, 14);
    padding-left: 50px;`

}

.search_wrap i {
    color: white;
    position: absolute;
    z-index: 1;
    left: 18px;
    top: 12px;
}

.search_wrap input::placeholder {
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.search_wrap input.form-control:focus {
    color: #fff;
    background-color: #ea929e;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
    ;
}


.search_wrap i {
    color: #fff;
    position: absolute;
    left: 12px;
    top: 12px;
    z-index: 1;
}

.navbar ul li a{
    font-size: 26px;
    color:black;
    font-weight: 500;
    margin-top: 12px;
}

.navbar ul li a:hover {
    margin-left: 8px;
}


.topside_btn {
    background: #ffdbdf;
    border-radius: 8px;
    width: 42px;
    padding-left: 1px;
}

.topside_btn button.btn:focus {
    background-color: #ffdbdf;
    border-color: black;
    outline: 0;
    box-shadow: none;
}

.header_wrapper {
    height: 320px;
    margin-top: 35px;
    /* border: 1px dotted black; */
    position: relative;
}

.header_content {
    background: #a0bbea;
    height: 265px;
    margin-top: 54px;
    border-radius: 12px;
    position: relative;
}

.img_wrapper {

    position: absolute;
    top: -94px;
    left: 18px;
    width: 50%;
}

.img_wrapper img {
    height: 395px;
    width: 530px;
}

.text_wrapper {
    position: absolute;
    top: 90px;
    right: 90px;
}

.nav_wrapper .nav-tabs .nav-link{
  font-weight: 500;
  font-size: 20px;
}


.product_wrapper {
   margin-top: 30px;
}

.product_wrapper .nav_wrapper button{
    background-color: rgb(123, 87, 43);
    color: #000;
    margin: 6px;
}

.product_img {
    height: 325px;
    transition:transform 0.5s ease-in;
}

.product_img img:hover {
    box-shadow: 4px 2px 4px 2px grey;
    margin: -6px;
   transform: scale(1.1);    
}

.product_img img {
    height:100% ;
    width: 275px;
    border-radius: 8px;
}



.footer_wrapper {
    height: 300px;
    background: #ea929e;
    padding: 40px;
}


.footer_wrapper ul li a {
    color: #000;
    font-weight: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}

.footer_wrapper button {
    border-radius: 20px;
    padding: 8px 25px;
    margin: 12px auto;
}

.footer_wrapper ul li a:hover {
    margin-left: 8px;
}

.footer_dis_list {
    height: 135px;
}

.footer_wrapper h4 {
    font-weight: 600;
    color: #000;
}

.footer_abouts ul li {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    font-family: 'Roboto Slab', serif;
}


